* {
	font-size: 10pt;
	font-family: Verdana, Arial;
}

body { 
	background: #ccc; 
	padding: 5px;
}
div.plansza { 
	display: table;
	width: 1300px; 
	border: 2px solid black; 
	border-bottom: 0px;
}
div.row { 
	display: table-row; 
}
div.cell { 
	display: block;  
	width: 128px; 
	height: 160px; 
	border: 1px solid black;
	border-bottom: 3px solid black;
	background: white;
	float: left;
}

div.cellBuildings {
	dispaly: table-row;
	height: 30px;
	border-bottom: 2px solid black;
	text-align: center;
}

div.cellPrice {
	dispaly: table-row;
	text-align: center;
	font-weight: bold;
	padding: 3px 0px;
}

div.cellFigures {
	dispaly: table-row;
	text-align: center;
	height: 80px;
}

div.cellName {
	dispaly: table-row;
	padding: 3px 0px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

div.pionek0 {
	width: 20px;
	height: 20px;
	background: url('../images/player1.png');
	margin: 5px;
	display: block;
	float: left;
}

div.pionek1 {
	width: 20px;
	height: 20px;
	background: url('../images/player2.png');
	margin: 5px;
	display: block;
	float: left;
}

div.pionek2 {
	width: 20px;
	height: 20px;
	background: url('../images/player3.png');
	margin: 5px;
	display: block;
	float: left;
}

div.pionek3 {
	width: 20px;
	height: 20px;
	background: url('../images/player4.png');
	margin: 5px;
	display: block;
	float: left;
}

div.pionek4 {
	width: 20px;
	height: 20px;
	background: url('../images/player4.png');
	margin: 5px;
	display: block;
	float: left;
}

div.pionek5 {
	width: 20px;
	height: 20px;
	background: url('../images/player5.png');
	margin: 5px;
	display: block;
	float: left;
}

div.domek {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url('../images/domek.png');
	float: left;
	margin: 1px;
}

div.hotel {
	width: 60px;
	height: 28px;
	display: inline-block;
	background: url('../images/hotel.png');
	float: left;
	margin: 1px;
}
